{{/* Datacode Widget */}}

{{/* Initialise */}}
{{ $ := .root }}
{{ $st := .page }}

{{ $filter_params := $st.Params.filter_params }}

{{ $headless := (index ($.Site.GetPage "/projects").Resources 0) }}

{{ $categories := where $headless.Params.content.filter_button "category" "ne" "All" }}

{{ $projects :=  where $.Site.Pages "Type" "project" }}

{{ $teste := where (where site.RegularPages "Type" "project") ".Params" "in" "$filter_params" }}
{{ $pr := where site.RegularPages "Type" "project" }}
{{ $projs := where (where $pr ".Params.url_dataset" "ne" nil) ".Params.url_dataset" "ne" ""}}
{{ $projs := $projs | union (where (where $pr ".Params.url_data" "ne" nil) ".Params.url_data" "ne" "") }}
{{ $projs := $projs | union (where (where $pr ".Params.url_code" "ne" nil) ".Params.url_code" "ne" "") }}
{{ $projs := $projs | union (where (where $pr ".Params.url_video" "ne" nil) ".Params.url_video" "ne" "") }}

{{ $pubs := where site.RegularPages "Type" "publication" }}
{{ $publications := where $pubs ".Params.url_dataset" "ne" nil }}
{{ $publications := $publications | union (where $pubs ".Params.url_data" "ne" nil ) }}
{{ $publications := $publications | union (where $pubs ".Params.url_github" "ne" nil ) }}
{{ $publications := $publications | union (where $pubs ".Params.url_code" "ne" nil ) }}

{{ $query := $publications | union $projs }}

{{/* Sort */}}
	     <script>console.log({{ $teste }});</script>
<style>
  h3.article.title {
    color: black;
  }
</style>

<div class="row">
  <div class="col-12 col-lg-4 section-heading">
    <h1>{{ with $st.Title }}{{ . | markdownify | emojify }}{{ end }}</h1>
		{{ with $st.Params.subtitle }}  <p>{{ . | markdownify | emojify }}</p>{{ end }}
		<br>
		<p> <i class="fas fa-project-diagram pub-icon" aria-hidden="true"></i> Projects </p> 
		<p> <i class="far fa-file-alt pub-icon" aria-hidden="true"></i> Publications </p>
  </div>
  <div class="col-12 col-lg-8">

    {{ with $st.Content }}{{ . }}{{ end }}

    {{ range $post := $query }}



        {{ partial "datacode_li_list" . }}

    {{end}}

  </div>
</div>
