{{/* Datacode Widget */}}

{{/* Initialise */}}
{{ $ := .root }}
{{ $st := .page }}

{{ $filter_params := $st.Params.filter_params }}

{{ $headless := (index ($.Site.GetPage "/projects").Resources 0) }}

{{ $categories := where $headless.Params.content.filter_button "category" "ne" "All" }}

{{ $projects :=  where $.Site.Pages "Type" "project" }}

{{ $pr := where site.RegularPages "Type" "project" }}
{{/* filter projects pages */}}
{{ if (len $filter_params) ge 1 }}
	{{ $projs := where (where $pr (printf ".Params.%s" (index $filter_params 0)) "ne" nil) (printf ".Params.%s" (index $filter_params 0)) "ne" ""}}
	{{ $.Scratch.Set "projs" $projs}}
	{{ range (after 1 $filter_params) }}
		{{ $.Scratch.Set "projs" ($.Scratch.Get "projs" | union (where (where $pr (printf ".Params.%s" .) "ne" nil) (printf ".Params.%s" .) "ne" "")) }}
	{{ end }}
{{ else }}
	{{ $.Scratch.Set "projs" $pr}}
{{ end }}

{{ $pubs := where site.RegularPages "Type" "publication" }}
{{/* filter publications pages */}}
{{ if (len $filter_params) ge 1 }}
	{{ $publications := where (where $pubs (printf ".Params.%s" (index $filter_params 0)) "ne" nil) (printf ".Params.%s" (index $filter_params 0)) "ne" ""}}
	{{ $.Scratch.Set "publications" $publications}}
	{{ range (after 1 $filter_params) }}
		{{ $.Scratch.Set "publications" ($.Scratch.Get "publications" | union (where (where $pubs (printf ".Params.%s" .) "ne" nil) (printf ".Params.%s" .) "ne" "")) }}
	{{ end }}
{{ else }}
	{{ $.Scratch.Set "publications" $pubs}}
{{ end }}

{{ $projs := ($.Scratch.Get "projs") }}
{{ $publications := ($.Scratch.Get "publications") }}

{{ $query := $publications | union $projs }}

{{/* Sort */}}
<style>
  h3.article.title {
    color: black;
  }
</style>

<div class="row">
  <div class="col-12 col-lg-4 section-heading">
    <h1>{{ with $st.Title }}{{ . | markdownify | emojify }}{{ end }}</h1>
		{{ with $st.Params.subtitle }}  <p>{{ . | markdownify | emojify }}</p>{{ end }}
		<br>
		<p> <i class="fas fa-project-diagram pub-icon" aria-hidden="true"></i> Projects </p> 
		<p> <i class="far fa-file-alt pub-icon" aria-hidden="true"></i> Publications </p>
  </div>
  <div class="col-12 col-lg-8">

    {{ with $st.Content }}{{ . }}{{ end }}

    {{ range $post := $query }}

        {{ partial "datacode_li_list" . }}

    {{end}}

  </div>
</div>
