{{ $is_list := .is_list }}
{{ $page := .page }}
{{ $link := "" }}

{{ with $page.Params.url_code }}
  {{ $resource := $page.Resources.GetMatch . }}
  {{ if $resource }}
    {{ $link = $resource.RelPermalink }}
  {{ else }}
    {{ $link = . | relURL }}
  {{ end }}
<a class="btn btn-outline-primary my-1 mr-1{{ if $is_list }} btn-sm{{end}}" href="{{ $link }}" target="_blank" rel="noopener">
  {{ i18n "btn_code" }}
</a>
{{ end }}
{{ with $page.Params.url_dataset }}
  {{ $resource := $page.Resources.GetMatch . }}
  {{ if $resource }}
    {{ $link = $resource.RelPermalink }}
  {{ else }}
    {{ $link = . | relURL }}
  {{ end }}
<a class="btn btn-outline-primary my-1 mr-1{{ if $is_list }} btn-sm{{end}}" href="{{ $link }}" target="_blank" rel="noopener">
  {{ i18n "btn_dataset" }}
</a>
{{ end }}
